@font-face {
  font-family: exo;
  src: url(../fonts/Exo-VariableFont_wght.ttf);
}

body {
  display: flex;
  height: 100%;
  font-family: exo, sans-serif;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.contenu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: auto;
}

footer {
  flex-shrink: 0;
  background-color: #eee;
  box-shadow: 0 0 10px #0000004d;
  text-align: center;
  margin-top: 10px;
}

.pdpadmin {
  background-color: #d1e3ec;
  box-shadow: 0 0 10px #a098eb4d;
}

/* Styles pour le header */
.avatar .log {
  position: absolute;
  right: 0;
  top: 33px;
  margin-right: 33px;
  cursor: pointer;
}

.avatar .log2 {
  position: absolute;
  right: 0;
  top: 73px;
  margin-right: 33px;
  font-weight: bold;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #eee;
  box-shadow: 0 0 10px #0000004d;
}

.avatarAdmin {
  background-color: #d1e3ec;
  box-shadow: 0 0 10px #a098eb4d;
}

.avatarImg {
  width: 150px;
  padding: 5px;
}

/* Styles dropzone */

.dropzoneContainer {
  background-color: #eee;
  box-shadow: 0 0 10px #0000004d;
  width: 98%;
  margin: auto;
}

.containerAdmin {
  background-color: #d1e3ec;
  box-shadow: 0 0 10px #a098eb4d;
}

h2 {
  padding: 5px;
}

.dropzoneAdmin h2 {
  margin: 0;
}

.arrow {
  display: inline-block;
  transform: rotate(0deg) scale(0.7);
  color: #68686860;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(90deg) scale(0.6);
}

h3 {
  margin: 0 !important;
  padding: 0 5px;
}

.dropzone {
  min-height: auto !important;
  padding: 20px !important;
}

.containerUtilisateur h2 {
  cursor: pointer;
}

.dropzoneHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 20px;
  cursor: pointer;
}

.dropzoneContainer form {
  display: flex;
  align-items: center;
}

.editClasse {
  cursor: pointer;
  padding: 15px 0;
}

.containerAdmin input {
  font-family: exo, sans-serif;
  text-align: center;
  font-size: 16px;
}

.containerAdmin input[type="submit"] {
  cursor: pointer;
}

.dropzone .dz-message {
  text-align: center;
  margin: 0 !important;
}

/* Style spécifique pour les liens de fichiers PDF */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.dropzoneAdmin li a {
  background-color: #42a3d3;
  color: white;
}

li a {
  background-color: #fff;
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

li a:hover {
  background-color: #333;
  color: #fff;
}

.download-icon:hover,
.delete-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Style pour le modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00000080;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
}

.modal h4 {
  margin: 0;
}

.close {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loginForm input {
  width: 100%;
  padding: 8px 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: exo;
}

@media (max-width: 576px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
  }

  h3 {
    text-align: center;
    font-size: 16px;
    padding: 0;
  }

  li {
    max-width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    font-size: 15px;
    padding: 0;
  }

  .avatar {
    gap: 5px;
  }

  .avatar .log {
    top: 13px;
    margin-right: 13px;
  }

  .avatar .log2 {
    top: 53px;
    margin-right: 13px;
  }

  body {
    padding: 0;
  }

  .avatarImg {
    width: 90px;
    padding: 0;
  }
}
